
.overbots {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  // Generic
  .container {
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    >.title {
      border-bottom: solid 1px #000;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    >.scroller {
      overflow: auto;
    }
  }

  // Specific
  .header {
    border-bottom: solid 1px #000;
    flex: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .body {
    display: flex;
    flex: 3;
    flex-direction: row;
  }

  .container-resources {
    flex: 0 0 256px;
    order: 0;

    .category-title {
      border-bottom: solid 1px #000;
      flex: 0;
      font-weight: bold;
      text-align: center;
    }

    .resource {
      border: dashed 1px #000;
      display: flex;
      flex: 0;
      flex-direction: row;
    }

    .resource-name {
      display: flex;
      flex: 2;
      font-weight: bold;
    }

    .resource-value {
      display: flex;
      flex: 1;
      padding-left: 8px;
    }

    .resource-delta {
      display: flex;
      flex: 1;
      font-style: italic;
      padding-left: 8px;
    }
  }

  .container-actions {
    flex: 0 0 256px;
    order: 2;

    .action-category {
      display: flex;
      flex-direction: column;
    }

    .category-title {
      border-bottom: solid 1px #000;
      flex: 0;
      font-weight: bold;
      text-align: center;
    }

    .action-button {
      flex: 1;
    }
  }

  .container-scanner {
    flex: 1 0 256px;
    order: 1;
  }

  .container-msgs {
    // flex: 0 0 192px;
    flex: 1;
  }
}
